<div>FORRUM</div>
{{#each thread}}
<div>
  <div class="thread-num">{{this.THREAD_NUM}}</div>
  <div class="thread-subject">{{this.THREAD_SUBJECT}}</div>
  <div class="tread-writer">{{this.THREAD_WRITER}}</div>
  <div class="thread-hits">{{this.THREAD_HITS}}</div>
  <div class="thread-likes">{{this.THREAD_LIKE}}</div>
  <div class="tread-date">{{this.INS_DATE}}</div>
</div>
{{/each}}
