<div class="forum">
  <h3>게시판</h3>
  <div class="thread-header">
    <div>제목</div>
    <div>작성자</div>
    <div>조회수</div>
    <div>추천수</div>
    <div>날짜</div>
  </div>
  {{#customEach custom}}
  <a href="/read/{{this.THREAD_NUM}}" class="link-thread">
    <div class="thread">
      <div class="upper">
        {{#if this.ADMIN_YN}}
        <div class="thread-notice">공지</div>
        {{/if}}
        {{#if this.PWD_YN}}
        <div class="thread-secret">비밀글</div>
        {{/if}}
        <div class="thread-subject">{{this.THREAD_SUBJECT}}</div>
        {{#if this.COMMENTS_COUNT}}
        <div class="thread-comments">+{{this.COMMENTS_COUNT}}</div>
        {{/if}}
      </div>
      <div class="lower">
        <div class="thread-writer">{{this.THREAD_WRITER}}</div>
        <div class="tread-date">{{this.INS_DATE}}</div>
        <div class="thread-hits"><span>조회 </span>{{this.THREAD_HITS}}</div>
        <div class="thread-likes"><span>추천 </span>{{this.THREAD_LIKES}}</div>
      </div>
    </div>
  </a>
  {{/customEach}}
  <div class="pagination">
    <ul>
      {{#paginate pagination type="first"}}
      <li {{#if disabled}}class="disabled" {{/if}}><a href="/?p={{n}}">처음</a></li>
      {{/paginate}}
      {{#paginate pagination type="previous"}}
      <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">이전</a></li>
      {{/paginate}}
      {{#paginate pagination type="middle" limit="10"}}
      <li {{#if active}}class="active" {{/if}}><a href="?p={{n}}">{{n}}</a></li>
      {{/paginate}}
      {{#paginate pagination type="next"}}
      <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">다음</a></li>
      {{/paginate}}
      {{#paginate pagination type="last"}}
      <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">마지막</a></li>
      {{/paginate}}
    </ul>
  </div>
  <div class="forum-footer">
    <a href="/write">글쓰기</a>
  </div>
</div>