<div class="thread-detail">
  <div class="subject">Title: {{thread.THREAD_SUBJECT}}</div>
  <div class="writer">Nickname: {{thread.THREAD_WRITER}}</div>
  <div class="subInfo">
    <div class="hits"><span>View: </span>{{thread.THREAD_HITS}}</div>
    <div class="likes"><span>Like: </span>{{thread.THREAD_LIKES}}</div>
    <div class="date">Date: {{thread.INS_DATE}}</div>
  </div>
  <textarea name="content" style="display: none">{{thread.THREAD_CONTENT}}</textarea>
  <div id="editor" class="content">
  </div>
  <div class="comments">
    <h6>Comment</h6>
    {{#each comments}}
    <div class="comment">
      <div class="cc">{{this.COMMENT}}</div>
      <div class="cSub">{{this.WRITER}}</div>
    </div>
    {{/each}}
    <div class="comments-tool">
      <form action="/comment" method="POST">
        <h6>Write Comment</h6>
        <label for="nickname">Nickname: </label><input type="text" name="nickname" placeholder="Nickname">
        <label for="comment">Content: </label><input type="text" name="comment" placeholder="Content">
        <input type="hidden" name="number" value="{{thread.THREAD_NUM}}">
        <input type="hidden" name="commentYN" value="{{thread.COMMENT_YN}}">
        <button type="submit">Write</button>
      </form>
    </div>
  </div>
  <div class="thread-controller">
    <a href="/comment/like/{{thread.THREAD_NUM}}">Like</a>
    <a href="/">Back</a>
    {{#if session.admin}}
      <a href="/update/{{thread.THREAD_NUM}}">Modify</a>
      <a href="/delete/{{thread.THREAD_NUM}}">Delete</a>
    {{/if}}
  </div>
</div>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script src="/js/readQuill.js"></script>
<script src="/js/comment.js"></script>