<div class="thread-detail">
  <div class="subject">제목: {{thread.THREAD_SUBJECT}}</div>
  <div class="writer">작성자: {{thread.THREAD_WRITER}}</div>
  <div class="subInfo">
    <div class="hits"><span>조회수: </span>{{thread.THREAD_HITS}}</div>
    <div class="likes"><span>추천수: </span>{{thread.THREAD_LIKES}}</div>
    <div class="date">날짜: {{thread.INS_DATE}}</div>
  </div>
  <textarea name="content" style="display: none">{{thread.THREAD_CONTENT}}</textarea>
  <div id="editor" class="content">
  </div>
  <div class="comments">
    <h6>댓글</h6>
    {{#each comments}}
    <div class="comment">
      <div class="cc">{{this.COMMENT}}</div>
      <div class="cSub">{{this.WRITER}}</div>
    </div>
    {{/each}}
    <div class="comments-tool">
      <form action="/comment" method="POST">
        <h6>댓글달기</h6>
        <label for="nickname">닉네임: </label><input type="text" name="nickname" placeholder="닉네임">
        <label for="comment">내용: </label><input type="text" name="comment" placeholder="내용">
        <input type="hidden" name="number" value="{{thread.THREAD_NUM}}">
        <input type="hidden" name="commentYN" value="{{thread.COMMENT_YN}}">
        <button type="submit">댓글쓰기</button>
      </form>
    </div>
  </div>
  <div class="thread-controller">
    <a href="/comment/like/{{thread.THREAD_NUM}}">좋아요</a>
    <a href="javascript:history.back()">목록</a>
    <a href="/update/{{thread.THREAD_NUM}}">수정</a>
    <a href="/delete/{{thread.THREAD_NUM}}">삭제</a>
  </div>
</div>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script src="/js/readQuill.js"></script>
<script src="/js/comment.js"></script>